<!DOCTYPE html>
<html>
<head>
	<title>Daniel's Blog</title>
	<link href="styles.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
	</script>
</head>

<body>
	<div id="vue-app">
		<h1>Two-way data binding</h1>
		<label>Name:</label>
		<input type="text" v-model="name" />
		<br>
		<label>Age:</label>
		<input type="text" v-model="age" />
		<br><span>{{name}}</span>
		<br><span>{{age}}</span>
	</div> 

	<script src="app.js"></script>
</body>
</html>